<section class="MenuItemList">
  <ul>
    <table class="MenuTable">
      <thead class="MenuTablehead">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Veg/Non-Veg</th>
          <th>Price</th>
          <th>View Image </th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody class="MenuTablebody">
        <% menu.menuitems.all.each do |menuitem| %>
          <tr>
            <td><%= menuitem.name %></td>
            <td><%= menuitem.description %></td>
            <% if menuitem.diet_type == "Veg" %>
              <td> <%= image_tag("veg.png") %></td>
            <% else %>
              <td> <%= image_tag("nonveg.png") %></td>
            <% end %>
            <td>₹ <%= menuitem.price %></td>
            <td> <%= link_to image_tag("image.png"), menuitem.imageurl ,target: :_blank %></td>
            <% if rendered_from == 'home' %>
              <div>
                <% qty = @current_user.orders.cart_order.orderitems.qty(menuitem.id)%>
                <% if qty==0 %>
                  <td> <%= link_to "Add", orderitems_path(menuitem_id: menuitem.id,
                                                  menu_item_name: menuitem.name,
                                                  menu_item_price: menuitem.price,
                                                  from: "menuitems"),
                                                  method: "post",
                                                  class: "Add-text"
                  %> </td>
                <% else %>
                  <div class='MenuItem-qty'>
                    <% order_item = @current_user.orders.cart_order.orderitems.item(menuitem.id)%>
                    <td><%= link_to "− ", orderitem_path(id:order_item.id,from: "menuitems",), method: "delete", class: "home-minus" %></td>
                    <td><%= " #{qty}" %></td>
                    <td><%= link_to "＋", orderitems_path(menuitem_id: menuitem.id,
                                                      menu_item_name: menuitem.name,
                                                      menu_item_price: menuitem.price,
                                                      from: "menuitems"),
                                                      method: "post",
                                                      class: "home-plus"
                    %></td>
                  </div>
                <% end %>
              </div>
            <% else %>
              <div class='edit-container' >
                <td>
                <form action="/menuitems/<%= menuitem.id %>/edit" method=get>
                <%= image_submit_tag("edit.png") %>
                </form>
                </td>
                <td>
                <%= form_with(url: "/menuitems/#{menuitem.id}", method: "delete") do %>
                  <%= image_submit_tag("trashcan.png") %>
                <% end %>
                </td>
              </div>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </ul>
</section>
