<section class="MenuitemSection">
  <div class="MenuitemSectionTitle">
    <p class="MenuitemSectionTitle-text"> <%= section_title %> </p>
  </div>
  <ul>
    <table>
      <thead>
        <tr>
          <th>MenuItem ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @menuitems.each do |menuitem| %>
        <tr>
          <td><%= menuitem.id %></td>
          <td><%= menuitem.name %></td>
          <td><%= menuitem.description %></td>
          <td><%= menuitem.price %></td>
          <td><%= link_to "Edit", edit_menuitem_path(menuitem) %></td>
          <td>
            <a href="javascript:void(0)">
              <%= form_with(url: "/menuitems/#{menuitem.id}", method: "delete") do %>
                <%= image_submit_tag("trashcan.png") %>
              <% end %>
            </a>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </ul>
</section>
