<section class="MenuitemSection">
  <div class="MenuitemSectionTitle">
    <p class="MenuitemSectionTitle-text"> <%= section_title %> </p>
  </div>
  <ul>
    <% menuitems.each do |menuitem| %>
      <li class="MenuitemItem">
        <label class="MenuitemItem-container">
          <%= form_with(url: "/menuitems/#{menuitem.id}", method: "put") do %>
          <% end %>

          <p class="MenuitemItem-text">
            <%= menuitem.name %>
            <%= menuitem.description %>
            <%= menuitem.price %>
          </p>

          <a class="MenuitemItem-delete" href="javascript:void(0)">
            <%= form_with(url: "/menuitems/#{menuitem.id}", method: "delete") do %>
              <%= image_submit_tag("trashcan.png") %>
            <% end %>
          </a>
        </label>
      </li>
    <% end %>
  </ul>
</section>
