<body class="UsersBody">
    <table class="CartTable">
        <thead class="CartTablehead">
            <th>SNo</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>TotalPrice</th>
        </thead>
        <% order = @current_user.orders.cart_order %>
        <% orderitems = order.orderitems.getqty %>
        <% serial_no = 1 %>
        <% orderitems.each do |name,quantity|%>
            <tbody class= "CartTablebody">
                <% order_item = order.orderitems.find_by(menu_item_name: name)%>
                <td> <%= serial_no %>   </td>
                <td> <%= name %>    </td>
                <td>
                    <%= link_to "−", orderitem_path(id:order_item.id,from: "cart"), method: "delete", class: "minus" %>
                    <%= quantity %>
                    <%= link_to "＋", orderitems_path(order_id: order.id ,
                                                        menuitem_id: order_item.menuitem_id,
                                                        menu_item_name: name,
                                                        menu_item_price: order_item.menu_item_price,from: "cart",),
                                                        method: "post",
                                                        class: "plus"
                    %>
                </td>
                <td> ₹<%= order_item.menu_item_price %> </td>
                <td> ₹<%= quantity*order_item.menu_item_price %> </td>
                <% serial_no = serial_no+1 %>
            </tbody>
        <% end %>
    </table>
    <hr class='line'>
    <p class="TotalPrice">TotalPrice : ₹<%= order.get_total_price %> </p>
    <div class="Buttons-container">
        <form action="/menus" method="GET">
            <input class='SubmitButton' type="submit" value='Add more items'>
        </form>
        <%= form_with(url: "/orders/pay", method: "patch") do %>
            <%= hidden_field_tag "id", order.id %>
            <%= submit_tag "Confirm & Pay", class: 'SubmitButton' %>
        <% end %>
    </div>
</body>
