<p class="UserHeader">
  Welcome!
  <%= link_to "Sign Out", destroy_session_path, method: "delete" %>
</p>
<h1 class="Home-Title"> Welcome to the Menus List </h1>
<table>
  <thead>
    <tr>
      <th>Menu ID</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @menus.each do |menu| %>
      <tr>
        <td><%= menu.id %></td>
        <td><%= menu.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "Create New Menu!", new_menu_path %>
<br>
<%= link_to "Update Existing Menu!", new_menusessions_path %>
