<p class="UserHeader">
  Welcome!
  <%= link_to "Sign Out", destroy_session_path, method: "delete" %>
</p>
<h1 class="Home-Title"> Welcome to the Menus List </h1>
<table>
  <thead>
    <tr>
      <th class="Home-Subtitle">MenuID</th>
      <th class="Home-Subtitle">Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @menus.each do |menu| %>
      <tr>
        <td class="Home-Menulist"><%= menu.id %></td>
        <td class="Home-Menulist"><%= menu.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p class="Home-Title">
<br>
<p class="Home-Title">
<h3> New Menu! </h3>
<%= form_with(url: "/menus", method: "POST", class: "AddMenuitem") do%>
  <%= text_field_tag 'name', nil,
               autofocus:"autofocus",
               placeholder: "Name",
               class: "AddMenuitem-text"
  %>
  <%= submit_tag 'Create', class: "AddMenuitem-button" %>
<% end %>
<br>
<%= link_to "Update Existing Menu!", new_menusessions_path %>
</p>
