<p class = "reports-title">REPORTS</p>
<body class="UsersBody">
  <div>
    <%= form_with(url: "/reports",method: "get", local: "true", class: "reports-data") do %>
      <div class="reports-info"> Start Date: <%= date_field_tag("start_date")%> </div>
      <div class="reports-info"> End Date: <%= date_field_tag("end_date")%> </div>
      <div class="reports-info"> Customer Id: <%= number_field_tag("customer_id", nil , {min: 1, max: 1000,class: "reports-customer_id"})%></p> </div>
      <div class="reports-info">  <%= button_tag(value='Search', class: "Add-Button")  %> </div>
    <% end %>
  </div>
  <% if orders %>
    <div class = "reports-data1">
      <p> Start Date: <%=start_date%> </p>
      <p> End Date: <%=end_date%> </p>
      <p> Customer Id: <%=customer_id%> </p>
    </div>
    <table class = "reports-table">
      <tr class = "reports-table__tr">
        <th> User ID:</th>
        <th> Customer Name </th>
        <th> Total </th>
        <th> Click For Invoice </th>
      </tr>
      <% orders.each do |order|%>
        <tr class = "reports-table__tr" >
          <td> <%= order.user_id%> </td>
          <td><%= User.find(order.user_id).name%> </td>
          <td><%= order.get_total_price%></td>
          <td>
            <%= form_with(url: "/reports/#{order.id}", method: "get", local: "true") do %>
              <p class="search search1"><%= submit_tag("Invoice")%></p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
</body>
