<body class= "UsersBody">
  <p class= "Invoice-title"> INVOICE </p>
  <div class = "invoice-orderdetails">
    <p style="font-size: 24px"> Order ID: <%= order.id%> </p>
    <p> Ordered date: <%= order.date.strftime("%d/%m/%Y") %>  </p>
    <p> Delivered date: <%= order.delivered_at.strftime("%d/%m/%Y at %I:%M %p") %>  </p>
  </div>
  <div class="invoice-userdetails">
    <p> Customer : </p>
    <p class = "invoice-username">
      Name: <%= User.find(order.user_id).name%>
    </p>
  <hr>
  <p style="font-size:25px; padding-top:20px;">Order-Details:</p>
  <table class = "invoice-table">
    <thead>
      <tr class = "invoice-table__tr">
        <th> Menu Item Id </th>
        <th> Menu Item    </th>
        <th> Description    </th>
        <th> Quantity     </th>
        <th> Price        </th>
        <th> Total Price</th>
      </tr>
    </thead>
    <tbody>
      <% orderitems = order.orderitems.getqty %>
      <% orderitems.each do |name,quantity| %>
        <tr class = "invoice-table__tr">
        <%= order_item = order.orderitems.find_by(menu_item_name: name)%>
          <td>  <%= order_item.menuitem_id %> </td>
          <td> <%=  name %> </td>
          <td> <%= Menuitem.find(order_item.menuitem_id).description %> </td>
          <td> <%= quantity %> </td>
          <td> <i class="fa fa-inr" aria-hidden="true"></i> <%= order_item.menu_item_price %> </td>
          <td> <i class="fa fa-inr" aria-hidden="true"></i> <%= order_item.menu_item_price*quantity %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p class = "invoice-order__total"> Total Amount = <i class="fa fa-inr" aria-hidden="true"></i> <%= order.get_total_price%> </p>
<hr>
</body>
